In [98]:
import mysql.connector
import math

In [3]:
connection = mysql.connector.connect(
    host="localhost",
    database="SEE_INV",
    user="root",
    password="root@123"
)

In [3]:
connection.is_connected()

True

In [4]:
cursor = connection.cursor()

In [61]:
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(    host="localhost",
    database="SEE_INV",
    user="root",
    password="root@123")
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor(buffered=True)
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)

except Error as e:
    print("Error while connecting to MySQL", e)

Connected to MySQL Server version  8.0.31
You're connected to database:  ('see_inv',)

In [62]:
query = "select * from FACULTY"
cursor.execute(query)
records = cursor.fetchall()
for row in records:
    print(row)

('CRM', 'Chethana', '', 'Murthy', 'chethanamurthy@rvce.edu.in', '2', '', 'CSE', 57, 0)
('DN', 'Deepa', '', 'Malan', 'deepamalan@rvce.edu.in', '1', '', 'CSE', 51, 0)
('KB', 'Badrinath', '', 'KB', 'badrinath.kb@rvce.edu.in', '1', '', 'CSE', 51, 0)
('MM', 'Merin', '', 'Meleet', 'merinmeleet@rvce.edu.in', '2', '', 'ISE', 51, 0)
('PK', 'Poornima', '', 'Kulkarni', 'poornimak@rvce.edu.in', '2', '', 'ISE', 51, 0)
('PT', 'Padmashree', '', 'T', 'padmashreet@rvce.edu.in', '1', '', 'ISE', 46, 0)
('RGP', 'Raghavendraprasad', '', 'S', 'raghavendrap@rvce.edu.in', '1', '', 'ISE', 46, 0)
('SGR', 'Smitha', '', 'GR', 'smithagr@rvce.edu.in', '1', '', 'ISE', 46, 0)
('TD', 'Pratiba', '', 'D', 'pratibad@rvce.edu.in', '2', '', 'CSE', 57, 0)

In [63]:
query = "select * from FACULTY order by Department_ID, Group_ID"
cursor.execute(query)
records = cursor.fetchall()
for row in records:
    print(row)

('DN', 'Deepa', '', 'Malan', 'deepamalan@rvce.edu.in', '1', '', 'CSE', 51, 0)
('KB', 'Badrinath', '', 'KB', 'badrinath.kb@rvce.edu.in', '1', '', 'CSE', 51, 0)
('CRM', 'Chethana', '', 'Murthy', 'chethanamurthy@rvce.edu.in', '2', '', 'CSE', 57, 0)
('TD', 'Pratiba', '', 'D', 'pratibad@rvce.edu.in', '2', '', 'CSE', 57, 0)
('PT', 'Padmashree', '', 'T', 'padmashreet@rvce.edu.in', '1', '', 'ISE', 46, 0)
('RGP', 'Raghavendraprasad', '', 'S', 'raghavendrap@rvce.edu.in', '1', '', 'ISE', 46, 0)
('SGR', 'Smitha', '', 'GR', 'smithagr@rvce.edu.in', '1', '', 'ISE', 46, 0)
('MM', 'Merin', '', 'Meleet', 'merinmeleet@rvce.edu.in', '2', '', 'ISE', 51, 0)
('PK', 'Poornima', '', 'Kulkarni', 'poornimak@rvce.edu.in', '2', '', 'ISE', 51, 0)

In [ ]:
def randomly_assign_test():

In [47]:
def get_group_per_department(department_id):
    query = "select * from FACULTY where Department_ID = %s order by Group_ID"
    cursor.execute(query, (department_id,))
    records = cursor.fetchall()
    for row in records:
        print(row)

def get_facs_group(department_id, group_id):
    query = "select * from FACULTY where Department_ID = %s and Group_ID = %s"
    cursor.execute(query, (department_id, group_id))
    records = cursor.fetchall()
    for row in records:
        increment_invig_count(row[0])

In [17]:
def increment_invig_count(fac_id):
    query = "update FACULTY set Invig_Count = Invig_Count + 1 where Faculty_ID = %s"
    cursor.execute(query, (fac_id,))
    connection.commit()

In [18]:
iterative_list = [['ISE','1'], ['ISE','2'], ['CSE','1'], ['CSE','2']]

In [19]:
import random

In [20]:
def allocation(iterative_list):
    i = random.randint(0, len(iterative_list)-1)
    get_facs_group(iterative_list[i][0], iterative_list[i][1])

In [21]:
for i in range(100):
    allocation(iterative_list)

In [64]:
query = "select * from EXAM"
cursor.execute(query)
records = cursor.fetchall()
for row in records:
    print(row)

('2023', 'fast_track')
('2023', 'makeup')
('2023', 'regular')

In [65]:
query = "select * from EXAM"
cursor.execute(query)
records = cursor.fetchall()
exams = []
for row in records:
    exams.append(row)
exams = set(exams)
exams = list(exams)
print(exams)

[('2023', 'fast_track'), ('2023', 'makeup'), ('2023', 'regular')]

In [66]:
query = "select Group_ID, Department_ID from FACULTY"
cursor.execute(query)
records = cursor.fetchall()
answer = []
for row in records:
    answer.append(row)
answer = set(answer)
answer = list(answer)
print(answer)

[('2', 'ISE'), ('1', 'ISE'), ('2', 'CSE'), ('1', 'CSE')]

In [67]:
query = "select Subject_ID, Exam_Date from SUBJECT"
cursor.execute(query)
records = cursor.fetchall()
subjects = []
for row in records:
    subjects.append(row)
subjects = set(subjects)
subjects = list(subjects)
print(subjects)

[('18IS53', datetime.date(2023, 2, 28)), ('18IS55', datetime.date(2023, 3, 10)), ('18IS52', datetime.date(2023, 2, 20)), ('18HSI51', datetime.date(2023, 2, 15)), ('18IS54', datetime.date(2023, 3, 3))]

In [68]:
possible_exams = []
for i in exams:
    for j in subjects:
        possible_exams.append([i[0], i[1], j[0], j[1]])
for i in possible_exams:
    print(i)

['2023', 'fast_track', '18IS53', datetime.date(2023, 2, 28)]
['2023', 'fast_track', '18IS55', datetime.date(2023, 3, 10)]
['2023', 'fast_track', '18IS52', datetime.date(2023, 2, 20)]
['2023', 'fast_track', '18HSI51', datetime.date(2023, 2, 15)]
['2023', 'fast_track', '18IS54', datetime.date(2023, 3, 3)]
['2023', 'makeup', '18IS53', datetime.date(2023, 2, 28)]
['2023', 'makeup', '18IS55', datetime.date(2023, 3, 10)]
['2023', 'makeup', '18IS52', datetime.date(2023, 2, 20)]
['2023', 'makeup', '18HSI51', datetime.date(2023, 2, 15)]
['2023', 'makeup', '18IS54', datetime.date(2023, 3, 3)]
['2023', 'regular', '18IS53', datetime.date(2023, 2, 28)]
['2023', 'regular', '18IS55', datetime.date(2023, 3, 10)]
['2023', 'regular', '18IS52', datetime.date(2023, 2, 20)]
['2023', 'regular', '18HSI51', datetime.date(2023, 2, 15)]
['2023', 'regular', '18IS54', datetime.date(2023, 3, 3)]

In [56]:
def insert_into_has_exam(academic_year, exam_type, subject_id, exam_date):
    query = "insert into HAS_EXAM values(%s, %s, %s, %s)"
    cursor.execute(query, (academic_year, exam_type, subject_id, exam_date))
    connection.commit()

In [57]:
for i in possible_exams:
    insert_into_has_exam(i[0], i[1], i[2], i[3])

In [99]:
def required_no_invigilators(subject_id, exam_date):
    query = "select Students_enrolled, Subject_Type from SUBJECT where Subject_ID = %s and Exam_Date = %s"
    cursor.execute(query, (subject_id, exam_date))
    records = cursor.fetchall()
    required = math.ceil(records[0][0]/30)
    query = "update HAS_EXAM set required_invigilators = %s where Subject_ID = %s and Exam_Date = %s and Exam_Type = %s"
    cursor.execute(query, (required, subject_id, exam_date,records[0][1]))
    connection.commit()

In [100]:
for i in subjects:
    required_no_invigilators(i[0], i[1])