In [104]:
import mysql.connector
import math

In [3]:
connection = mysql.connector.connect(
    host="localhost",
    database="SEE_INV",
    user="root",
    password="root@123"
)

In [3]:
connection.is_connected()

True

In [4]:
cursor = connection.cursor()

In [243]:
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(    host="localhost",
    database="SEE_INV",
    user="root",
    password="root@123")
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor(buffered=True)
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)

except Error as e:
    print("Error while connecting to MySQL", e)

Connected to MySQL Server version  8.0.31
You're connected to database:  ('see_inv',)

In [161]:
query = "select * from FACULTY"
cursor.execute(query)
records = cursor.fetchall()
for row in records:
    print(row)

('CRM', 'Chethana', '', 'Murthy', 'chethanamurthy@rvce.edu.in', '2', '', 'CSE', 0, 0)
('DN', 'Deepa', '', 'Malan', 'deepamalan@rvce.edu.in', '1', '', 'CSE', 0, 0)
('KB', 'Badrinath', '', 'KB', 'badrinath.kb@rvce.edu.in', '1', '', 'CSE', 0, 0)
('MM', 'Merin', '', 'Meleet', 'merinmeleet@rvce.edu.in', '2', '', 'ISE', 0, 0)
('PK', 'Poornima', '', 'Kulkarni', 'poornimak@rvce.edu.in', '2', '', 'ISE', 0, 0)
('PT', 'Padmashree', '', 'T', 'padmashreet@rvce.edu.in', '1', '', 'ISE', 0, 0)
('RGP', 'Raghavendraprasad', '', 'S', 'raghavendrap@rvce.edu.in', '1', '', 'ISE', 0, 0)
('SGR', 'Smitha', '', 'GR', 'smithagr@rvce.edu.in', '1', '', 'ISE', 0, 0)
('TD', 'Pratiba', '', 'D', 'pratibad@rvce.edu.in', '2', '', 'CSE', 0, 0)

In [107]:
query = "select * from FACULTY order by Department_ID, Group_ID"
cursor.execute(query)
records = cursor.fetchall()
for row in records:
    print(row)

('DN', 'Deepa', '', 'Malan', 'deepamalan@rvce.edu.in', '1', '', 'CSE', 0, 0)
('KB', 'Badrinath', '', 'KB', 'badrinath.kb@rvce.edu.in', '1', '', 'CSE', 0, 0)
('CRM', 'Chethana', '', 'Murthy', 'chethanamurthy@rvce.edu.in', '2', '', 'CSE', 0, 0)
('TD', 'Pratiba', '', 'D', 'pratibad@rvce.edu.in', '2', '', 'CSE', 0, 0)
('PT', 'Padmashree', '', 'T', 'padmashreet@rvce.edu.in', '1', '', 'ISE', 0, 0)
('RGP', 'Raghavendraprasad', '', 'S', 'raghavendrap@rvce.edu.in', '1', '', 'ISE', 0, 0)
('SGR', 'Smitha', '', 'GR', 'smithagr@rvce.edu.in', '1', '', 'ISE', 0, 0)
('MM', 'Merin', '', 'Meleet', 'merinmeleet@rvce.edu.in', '2', '', 'ISE', 0, 0)
('PK', 'Poornima', '', 'Kulkarni', 'poornimak@rvce.edu.in', '2', '', 'ISE', 0, 0)

In [ ]:
def randomly_assign_test():

In [108]:
def get_group_per_department(department_id):
    query = "select * from FACULTY where Department_ID = %s order by Group_ID"
    cursor.execute(query, (department_id,))
    records = cursor.fetchall()
    for row in records:
        print(row)

def get_facs_group(department_id, group_id):
    query = "select * from FACULTY where Department_ID = %s and Group_ID = %s"
    cursor.execute(query, (department_id, group_id))
    records = cursor.fetchall()
    for row in records:
        increment_invig_count(row[0])

In [18]:
iterative_list = [['ISE','1'], ['ISE','2'], ['CSE','1'], ['CSE','2']]

In [19]:
import random

In [109]:
def allocation(iterative_list):
    i = random.randint(0, len(iterative_list)-1)
    get_facs_group(iterative_list[i][0], iterative_list[i][1])

In [21]:
for i in range(100):
    allocation(iterative_list)

In [110]:
query = "select * from EXAM"
cursor.execute(query)
records = cursor.fetchall()
for row in records:
    print(row)

('2023', 'fast_track')
('2023', 'makeup')
('2023', 'regular')

In [111]:
query = "select * from EXAM"
cursor.execute(query)
records = cursor.fetchall()
exams = []
for row in records:
    exams.append(row)
exams = set(exams)
exams = list(exams)
print(exams)

[('2023', 'fast_track'), ('2023', 'makeup'), ('2023', 'regular')]

In [112]:
query = "select Group_ID, Department_ID from FACULTY"
cursor.execute(query)
records = cursor.fetchall()
answer = []
for row in records:
    answer.append(row)
answer = set(answer)
answer = list(answer)
print(answer)

[('2', 'ISE'), ('1', 'ISE'), ('2', 'CSE'), ('1', 'CSE')]

In [114]:
query = "select Subject_ID from SUBJECT"
cursor.execute(query)
records = cursor.fetchall()
subjects = []
for row in records:
    subjects.append(row)
subjects = set(subjects)
subjects = list(subjects)
print(subjects)

[('18IS55',), ('18IS54',), ('18IS53',), ('18HSI51',), ('18IS52',)]

In [125]:
possible_exams = []
for i in exams:
    for j in subjects:
        possible_exams.append([i[0], i[1], j[0]])
for i in possible_exams:
    print(i)

['2023', 'fast_track', '18IS55']
['2023', 'fast_track', '18IS54']
['2023', 'fast_track', '18IS53']
['2023', 'fast_track', '18HSI51']
['2023', 'fast_track', '18IS52']
['2023', 'makeup', '18IS55']
['2023', 'makeup', '18IS54']
['2023', 'makeup', '18IS53']
['2023', 'makeup', '18HSI51']
['2023', 'makeup', '18IS52']
['2023', 'regular', '18IS55']
['2023', 'regular', '18IS54']
['2023', 'regular', '18IS53']
['2023', 'regular', '18HSI51']
['2023', 'regular', '18IS52']

In [126]:
def insert_into_has_exam(academic_year, exam_type, subject_id,):
    query = "insert into HAS_EXAM(academic_year, exam_type, subject_id) values(%s, %s, %s)"
    cursor.execute(query, (academic_year, exam_type, subject_id))
    connection.commit()

In [127]:
for i in possible_exams:
    insert_into_has_exam(i[0], i[1], i[2])

In [130]:
def insert_into_enrolled(academic_year, exam_type, subject_id):
    query = "insert into ENROLLED(academic_year, exam_type, subject_id) values(%s, %s, %s)"
    cursor.execute(query, (academic_year, exam_type, subject_id))
    connection.commit()

In [131]:
for i in possible_exams:
    insert_into_enrolled(i[0], i[1], i[2])

In [132]:
def update_enrolled(subject_id, students_enrolled, exam_type, academic_year):
    query = "update ENROLLED set students_enrolled = %s where Subject_ID = %s and Exam_Type = %s and Academic_Year = %s"
    cursor.execute(query, (students_enrolled, subject_id, exam_type, academic_year))
    connection.commit()

In [136]:
def update_has_exam(subject_id, exam_type, academic_year, required_invigilators):
    query = "update HAS_EXAM set required_invigilators = %s where Subject_ID = %s and Exam_Type = %s and Academic_Year = %s"
    cursor.execute(query, (required_invigilators, subject_id, exam_type, academic_year))
    connection.commit()

In [137]:
def required_no_invigilators(subject_id, exam_type, academic_year):
    query = "select Students_Enrolled from ENROLLED where Subject_ID = %s and Exam_Type = %s and Academic_Year = %s"
    cursor.execute(query, (subject_id, exam_type, academic_year))
    records = cursor.fetchall()
    students_enrolled = records[0][0]
    no_of_invigilators = math.ceil(students_enrolled/30)
    update_has_exam(subject_id, exam_type, academic_year, no_of_invigilators)

In [138]:
for i in possible_exams:
    required_no_invigilators(i[2], i[1], i[0])

In [158]:
def insert_into_classroom(classroom_id, capacity, department_id):
    query = "insert into CLASSROOM values(%s, %s, %s)"
    cursor.execute(query, (classroom_id, capacity, department_id))
    connection.commit()

In [162]:
insert_into_classroom(101, 60, 'ISE')
insert_into_classroom(102, 60, 'ISE')
insert_into_classroom(103, 60, 'ISE')
insert_into_classroom(104, 80, 'ISE')
insert_into_classroom(201, 60, 'ISE')
insert_into_classroom(202, 60, 'ISE')
insert_into_classroom(301, 60, 'ISE')
insert_into_classroom(101, 60, 'CSE')
insert_into_classroom(102, 60, 'CSE')
insert_into_classroom(103, 80, 'CSE')
insert_into_classroom(201, 80, 'CSE')
insert_into_classroom(202, 60, 'CSE')
insert_into_classroom(203, 60, 'CSE')
insert_into_classroom(301, 60, 'CSE')
insert_into_classroom(302, 60, 'CSE')

In [163]:
def get_students_enrolled(subject_id, exam_type, academic_year):
    query = "select Students_Enrolled from ENROLLED where Subject_ID = %s and Exam_Type = %s and Academic_Year = %s"
    cursor.execute(query, (subject_id, exam_type, academic_year))
    records = cursor.fetchall()
    students_enrolled = records[0][0]
    return students_enrolled

In [164]:
def get_classrooms():
    query = "select Classroom_ID, Capacity, Department_ID from CLASSROOM"
    cursor.execute(query)
    records = cursor.fetchall()
    classrooms = []
    for row in records:
        classrooms.append(row)
    return classrooms

In [173]:
students_enrolled = get_students_enrolled('18HSI51', 'regular', 2023)
available_classrooms = get_classrooms()
used_classrooms = []
for i in available_classrooms:
    x = random.randint(0, len(available_classrooms)-1)
    if(students_enrolled>0 and available_classrooms[x] not in used_classrooms):
        if(students_enrolled<=available_classrooms[x][1]):
            used_classrooms.append(available_classrooms[x])
            # print(available_classrooms[x][0]+', '+available_classrooms[x][2])
            students_enrolled = 0
        else:
            used_classrooms.append(available_classrooms[x])
            # print(available_classrooms[x][0]+', '+available_classrooms[x][2])
            students_enrolled = students_enrolled - available_classrooms[x][1]
for i in used_classrooms:
    print(i[0]+', '+i[2])

101, ISE
301, ISE
201, ISE
302, CSE
301, CSE
201, CSE
203, CSE
103, ISE

In [176]:
def assign_classrooms(subject_id, exam_type, academic_year):
    students_enrolled = get_students_enrolled(subject_id, exam_type, academic_year)
    available_classrooms = get_classrooms()
    used_classrooms = []
    for i in available_classrooms:
        x = random.randint(0, len(available_classrooms)-1)
        if(students_enrolled>0 and available_classrooms[x] not in used_classrooms):
            if(students_enrolled<=available_classrooms[x][1]):
                used_classrooms.append(available_classrooms[x])
                # print(available_classrooms[x][0]+', '+available_classrooms[x][2])
                students_enrolled = 0
            else:
                used_classrooms.append(available_classrooms[x])
                # print(available_classrooms[x][0]+', '+available_classrooms[x][2])
                students_enrolled = students_enrolled - available_classrooms[x][1]
    t = len(used_classrooms)
    query = "update HAS_EXAM set required_invigilators = %s where Subject_ID = %s and Exam_Type = %s and Academic_Year = %s"
    cursor.execute(query, (t, subject_id, exam_type, academic_year))
    connection.commit()
    for i in used_classrooms:
        query = "insert into assigned_classrooms values(%s, %s, %s, %s, %s)"
        cursor.execute(query, (i[0], subject_id, exam_type, academic_year, i[2]))

In [177]:
for i in possible_exams:
    assign_classrooms(i[2], i[1], i[0])

In [190]:
def get_groups():
    query = "select Group_ID, Department_ID, Invig_count from FACULTY"
    cursor.execute(query)
    records = cursor.fetchall()
    answer = []
    for row in records:
        answer.append(row)
    answer = set(answer)
    answer = list(answer)
    return answer

In [183]:
def get_invig_count(faculty_id, department_id):
    query = "select Invig_count from FACULTY where Faculty_ID = %s and Department_ID = %s"
    cursor.execute(query, (faculty_id, department_id))
    records = cursor.fetchall()
    invig_count = records[0][0]
    return invig_count

In [184]:
def get_faculties_in_group(group_id, department_id):
    query = "select Faculty_ID from FACULTY where Group_ID = %s and Department_ID = %s"
    cursor.execute(query, (group_id, department_id))
    records = cursor.fetchall()
    faculties = []
    for row in records:
        faculties.append(row[0])
    return faculties

In [193]:
groups = get_groups()

In [188]:
def assign_faculty_classroom(faculty_id, academic_year, exam_type, classroom_id, department_id):
    query = "insert into invigilates values(%s, %s, %s, %s, %s)"
    cursor.execute(query, (faculty_id, academic_year, exam_type, classroom_id, department_id))  
    connection.commit()

In [192]:
def get_classrooms_assigned():
    query = "select * from assigned_classrooms"
    cursor.execute(query)
    records = cursor.fetchall()
    classrooms = []
    for row in records:
        classrooms.append(row)
    return classrooms

In [ ]:
classrooms_to_be_assigned = get_classrooms_assigned()

In [240]:
def increment_invig_count(faculty_id, department_id):
    query = "update FACULTY set Invig_count = Invig_count + 1 where Faculty_ID = %s and Department_ID = %s"
    cursor.execute(query, (faculty_id,department_id))
    connection.commit()

In [241]:
def group_gets_assigned(classrooms):
    y = random.sample(range(0,len(classrooms)), len(classrooms)-1)
    while(len(y)!=0):
        groups = get_groups()
        groups.sort(key = lambda x: x[2])
        x = random.randint(0,3)
        faculties_group = get_faculties_in_group(groups[x][0], groups[x][1])
        for i in faculties_group:
            print(i)
            if len(y)==0:
                for j in range(i, len(faculties_group)):
                    increment_invig_count(faculties_group[j], groups[x][1])
                break
            t = y.pop()
            print(classrooms[t][3])
            print(classrooms[t][2])
            print(classrooms[t][0])
            print(classrooms[t][4])
            print(groups[x][1])
            assign_faculty_classroom(i, classrooms[t][3], classrooms[t][2], classrooms[t][0], classrooms[t][4])
            increment_invig_count('MM','ISE')

In [242]:
group_gets_assigned(classrooms_to_be_assigned)

CRM
2023
regular
102
ISE
CSE
TD
2023
makeup
202
CSE
CSE
DN
2023
makeup
101
CSE
CSE
KB
2023
regular
104
ISE
CSE
PT
2023
makeup
104
ISE
ISE
RGP
2023
regular
301
ISE
ISE
SGR
2023
regular
202
CSE
ISE
MM
2023
regular
103
ISE
ISE
PK
2023
regular
201
ISE
ISE
DN
2023
regular
104
ISE
CSE
KB
2023
makeup
201
CSE
CSE
CRM
2023
regular
201
CSE
CSE
TD
2023
makeup
202
CSE
CSE

IntegrityError: 1062 (23000): Duplicate entry 'TD-2023-makeup-202-CSE' for key 'invigilates.PRIMARY'