In [1]:
import mysql.connector

In [2]:
connection = mysql.connector.connect(
    host="localhost",
    database="SEE_INV",
    user="root",
    password="root@123"
)

In [3]:
connection.is_connected()

True

In [4]:
cursor = connection.cursor()

In [41]:
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(    host="localhost",
    database="SEE_INV",
    user="root",
    password="root@123")
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor(buffered=True)
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)

except Error as e:
    print("Error while connecting to MySQL", e)

Connected to MySQL Server version  8.0.31
You're connected to database:  ('see_inv',)

In [42]:
query = "select * from FACULTY"
cursor.execute(query)
records = cursor.fetchall()
for row in records:
    print(row)

('CRM', 'Chethana', '', 'Murthy', 'chethanamurthy@rvce.edu.in', '2', '', 'CSE', 0, 0)
('DN', 'Deepa', '', 'Malan', 'deepamalan@rvce.edu.in', '1', '', 'CSE', 0, 0)
('KB', 'Badrinath', '', 'KB', 'badrinath.kb@rvce.edu.in', '1', '', 'CSE', 0, 0)
('MM', 'Merin', '', 'Meleet', 'merinmeleet@rvce.edu.in', '2', '', 'ISE', 0, 0)
('PK', 'Poornima', '', 'Kulkarni', 'poornimak@rvce.edu.in', '2', '', 'ISE', 0, 0)
('PT', 'Padmashree', '', 'T', 'padmashreet@rvce.edu.in', '1', '', 'ISE', 0, 0)
('RGP', 'Raghavendraprasad', '', 'S', 'raghavendrap@rvce.edu.in', '1', '', 'ISE', 0, 0)
('SGR', 'Smitha', '', 'GR', 'smithagr@rvce.edu.in', '1', '', 'ISE', 0, 0)
('TD', 'Pratiba', '', 'D', 'pratibad@rvce.edu.in', '2', '', 'CSE', 0, 0)

In [48]:
query = "select * from FACULTY order by Department_ID, Group_ID"
cursor.execute(query)
records = cursor.fetchall()
for row in records:
    print(row)

('DN', 'Deepa', '', 'Malan', 'deepamalan@rvce.edu.in', '1', '', 'CSE', 0, 0)
('KB', 'Badrinath', '', 'KB', 'badrinath.kb@rvce.edu.in', '1', '', 'CSE', 0, 0)
('CRM', 'Chethana', '', 'Murthy', 'chethanamurthy@rvce.edu.in', '2', '', 'CSE', 0, 0)
('TD', 'Pratiba', '', 'D', 'pratibad@rvce.edu.in', '2', '', 'CSE', 0, 0)
('PT', 'Padmashree', '', 'T', 'padmashreet@rvce.edu.in', '1', '', 'ISE', 0, 0)
('RGP', 'Raghavendraprasad', '', 'S', 'raghavendrap@rvce.edu.in', '1', '', 'ISE', 0, 0)
('SGR', 'Smitha', '', 'GR', 'smithagr@rvce.edu.in', '1', '', 'ISE', 0, 0)
('MM', 'Merin', '', 'Meleet', 'merinmeleet@rvce.edu.in', '2', '', 'ISE', 0, 0)
('PK', 'Poornima', '', 'Kulkarni', 'poornimak@rvce.edu.in', '2', '', 'ISE', 0, 0)

In [ ]:
def randomly_assign_test():

In [56]:
def get_group_per_department(department_id):
    query = "select * from FACULTY where Department_ID = %s order by Group_ID"
    cursor.execute(query, (department_id,))
    records = cursor.fetchall()
    for row in records:
        print(row)

def get_facs_group(department_id, group_id):
    query = "select * from FACULTY where Department_ID = %s and Group_ID = %s"
    cursor.execute(query, (department_id, group_id))
    records = cursor.fetchall()
    for row in records:
        increment_invig_count(row[0])

In [57]:
def increment_invig_count(fac_id):
    query = "update FACULTY set Invig_Count = Invig_Count + 1 where Faculty_ID = %s"
    cursor.execute(query, (fac_id,))
    connection.commit()

In [61]:
iterative_list = [['ISE','1'], ['ISE','2'], ['CSE','1'], ['CSE','2']]

In [66]:
import random

In [67]:
def allocation(iterative_list):
    i = random.randint(0, len(iterative_list)-1)
    get_facs_group(iterative_list[i][0], iterative_list[i][1])

In [68]:
for i in range(100):
    allocation(iterative_list)